@page "/employeePage"
@inherits EmployeeBase

<h3>EmployeePage</h3>

@if(ProjectsList != null)
{
    foreach(var project in ProjectsList)
    {
        <ProjectComponent Title="@project.Title" Description="@project.Description" />
    }
}

