@page "/employeePage"
@inherits EmployeeBase

    <h3 class="m-4">My Projects</h3><br />

    @if (ProjectsList != null)
    {
        foreach (var project in ProjectsList)
        {
            <ProjectComponent ProjectID="@project.Id" Title="@project.Title" Description="@project.Description" />
        }
    }
