@page "/employeePage"
@inherits EmployeeBase

<h3>EmployeePage</h3>

<ProjectComponent Title="xxx" Description="asdadsadsasads" />
<ProjectComponent Title="xxx" Description="asdadsadsasads" />
<ProjectComponent Title="xxx" Description="asdadsadsasads" />
<ProjectComponent Title="xxx" Description="asdadsadsasads" />
<ProjectComponent Title="xxx" Description="asdadsadsasads" />

