.task[b-mc9r7pkhsl] {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.top-row[b-mc9r7pkhsl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title[b-mc9r7pkhsl] {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
}

.task-description[b-mc9r7pkhsl] {
    color: #666666;
    margin-bottom: 15px;
}
.completed-row[b-mc9r7pkhsl]{
    display:flex;
    align-items:center;
    gap:5px;
}
.completed[b-mc9r7pkhsl] {
    width: 30px;
    height: 30px;
}
