@page "/register"
@inherits RegisterBase

<div class="page">
    <div class="container">
        <h2>Register</h2>
        <form method="post">
            <input type="text" placeholder="Username" class="input" @bind="Username">
            <input type="text" placeholder="Full Name" class="input" @bind="FullName">
            <input type="password" placeholder="Password" class="input" @bind="Password">
            <input type="password" placeholder="Re-type Password" class="input" @bind="VerifyPassword">
            <button type="button" class="submit-btn" @onclick="HandleRegister">Register</button>
        </form>

        <a href="/">Login</a>

        @if (ErrorMessage != null)
        {
            <DisplayError Message="@ErrorMessage" />
        }

      

    </div>
</div>