@inherits ProjectBase

<div class="container col-md-5 m-3">
    <h3 class="title">@Title</h3>
    <p class="title">@Description</p>
    <div class="buttons">
        <button class="btn btn-info" @onclick="HandleClick">My Tasks</button>
        @if (IsAdmin)
        {
            <button class="btn btn-danger" @onclick="()=>ShowDeleteModal=true">Delete</button>
        }
    </div>
</div>


@* Accept Modal *@
<div class="modal modal-dialog-centered @(!ShowDeleteModal ? "hide" : "")" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Accept Request</h5>
                <button type="button" class="btn-close" @onclick="() => ShowDeleteModal=false" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to accept this request?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="() => ShowDeleteModal=false">Dismiss</button>
                <button type="button" class="btn btn-success" @onclick="DeleteProject">Accept</button>
            </div>
        </div>
    </div>
</div>