@inherits ProjectBase

<div class="projects-container mb-3">
    <h3 class="title">@Project.Title</h3>
    <p class="title">@Project.Description</p>
    <div class="buttons">
        <button class="btn btn-success" @onclick="HandleClick">View Tasks</button>
        @if (IsAdmin)
        {
            <button class="btn btn-primary" @onclick="()=>ShowUpdateModal=true">Update</button>
            <button class="btn btn-danger" @onclick="ShowDeleteModal">Delete</button>

        }
    </div>
</div>


@* Update Component *@
<div class="modal @(!ShowUpdateModal ? "hide" : "") modal-dialog-centered" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Project</h5>
                <button type="button" class="btn-close" @onclick="() => ShowUpdateModal=false" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Project Title:</label>
                        <input type="text" class="form-control" @bind="Project.Title">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Task Description:</label>
                        <textarea class="form-control" @bind="Project.Description"></textarea>
                    </div>
                    <div class="text-danger">@ErrorMessage</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="() => ShowUpdateModal=false">Dismiss</button>
                @* <button type="button" class="btn btn-primary" @onclick="UpdateProject">Accept</button> *@
            </div>
        </div>
    </div>
</div>
