@page "/TasksPage/{ProjectId:int}"
@inherits TasksBase

<h3>TasksPage</h3>

@if (TasksList != null)
{
    foreach (var task in TasksList)
    {
        <TaskComponent TaskId="@task.Id" Title="@task.Title" Description="@task.Description" IsCompleted="task.IsCompleted"/>
    }
}
