.task {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
}

.task-description {
    color: #666666;
    margin-bottom: 15px;
}

.task .btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

    .task .btn:hover {
        background-color: #0056b3;
    }
.completed-row{
    display:flex;
    align-items:center;
    gap:5px;
}
.completed {
    width: 30px;
    height: 30px;
}

.task .btn-view-comments {
    background-color: #28a745;
}

    .task .btn-view-comments:hover {
        background-color: #218838;
    }
