@inherits TaskBase

<div class="task">
    <div class="top-row">
        <h2 class="task-title">@Title</h2>
        <label class="completed-row">
            @if (IsAdmin)
            {
                <div class="text-secondary">UserId : @UserId</div>    
            }
            else
            {
                @if (IsCompleted)
                {
                    <input type="checkbox" class="completed" @bind="IsCompleted" disabled />
                }
                else
                {
                    <input type="checkbox" class="completed" @bind="IsCompleted" @onclick="SendApprovalRequest" />
                    <span>Completed</span>
                }
            }
        </label>
    </div>
    <p class="task-description">@Description</p>
    @if(ErrorMessage != null)
    {
        <div class="text-danger">@ErrorMessage</div>
    }
    <button class="btn btn-success" @onclick="NavigateToComments">View Comments</button>
</div>
