@namespace TasksManagementSystem.Web.Components.TaskComponent

<div class="task">
    <div class="top-row">
        <h2 class="task-title">Task Title</h2>
        <label class="completed-row">
            <input type="checkbox" class="completed">
            Completed
        </label>
    </div>
    <p class="task-description">Description</p>
    <button class="btn btn-view-comments">View Comments</button>
</div>

@code {

}
