/* /Components/CommentComponent/CommentComponent.razor.rz.scp.css */
.container[b-fjxb51uwk3] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:100%;
    margin-bottom: 20px;
}

.fullname[b-fjxb51uwk3]{
    color:gray;
}
/* /Components/ProjectComponent/ProjectComponent.razor.rz.scp.css */
.container[b-nr9aoqcl3m] {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.button[b-nr9aoqcl3m] {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

    .button:hover[b-nr9aoqcl3m] {
        background-color: #218838;
    }
/* /Components/TaskComponent/TaskComponent.razor.rz.scp.css */
.task[b-mc9r7pkhsl] {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.top-row[b-mc9r7pkhsl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title[b-mc9r7pkhsl] {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
}

.task-description[b-mc9r7pkhsl] {
    color: #666666;
    margin-bottom: 15px;
}

.task .btn[b-mc9r7pkhsl] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

    .task .btn:hover[b-mc9r7pkhsl] {
        background-color: #0056b3;
    }
.completed-row[b-mc9r7pkhsl]{
    display:flex;
    align-items:center;
    gap:5px;
}
.completed[b-mc9r7pkhsl] {
    width: 30px;
    height: 30px;
}

.task .btn-view-comments[b-mc9r7pkhsl] {
    background-color: #28a745;
}

    .task .btn-view-comments:hover[b-mc9r7pkhsl] {
        background-color: #218838;
    }
/* /Layout/AdminLayout.razor.rz.scp.css */
.page[b-tphk5n53y9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tphk5n53y9] {
    flex: 1;
}

.sidebar[b-tphk5n53y9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tphk5n53y9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tphk5n53y9]  a, .top-row[b-tphk5n53y9]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-tphk5n53y9]  a:hover, .top-row[b-tphk5n53y9]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-tphk5n53y9]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-tphk5n53y9] {
        justify-content: space-between;
    }

        .top-row[b-tphk5n53y9]  a, .top-row[b-tphk5n53y9]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-tphk5n53y9] {
        flex-direction: row;
    }

    .sidebar[b-tphk5n53y9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tphk5n53y9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-tphk5n53y9]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-tphk5n53y9], article[b-tphk5n53y9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-5h0oni36nd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

*[b-5h0oni36nd]{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

main[b-5h0oni36nd] {
    flex: 1;
}

.sidebar[b-5h0oni36nd] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5h0oni36nd] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5h0oni36nd]  a, .top-row[b-5h0oni36nd]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5h0oni36nd]  a:hover, .top-row[b-5h0oni36nd]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5h0oni36nd]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-5h0oni36nd] {
        justify-content: space-between;
    }

    .top-row[b-5h0oni36nd]  a, .top-row[b-5h0oni36nd]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5h0oni36nd] {
        flex-direction: row;
    }

    .sidebar[b-5h0oni36nd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5h0oni36nd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5h0oni36nd]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5h0oni36nd], article[b-5h0oni36nd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-j8jl6luw5n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-j8jl6luw5n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-j8jl6luw5n] {
    font-size: 1.1rem;
}

.bi[b-j8jl6luw5n] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-j8jl6luw5n] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-j8jl6luw5n] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-j8jl6luw5n] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-j8jl6luw5n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-j8jl6luw5n] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-j8jl6luw5n] {
        padding-bottom: 1rem;
    }

    .nav-item[b-j8jl6luw5n]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-j8jl6luw5n]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-j8jl6luw5n]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-j8jl6luw5n] {
        display: none;
    }

    .collapse[b-j8jl6luw5n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-j8jl6luw5n] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Admin/AdminPage.razor.rz.scp.css */
/* /Pages/Admin/CommentAdmin/CommentPageAdmin.razor.rz.scp.css */
.comments[b-hzvgg6vwqr] {
    overflow-y: scroll;
    height: 90%;
}

.container[b-hzvgg6vwqr] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.input-row[b-hzvgg6vwqr] {
    display: flex;
    justify-content: space-between;
}

input[b-hzvgg6vwqr] {
    width: 90%;
    height: 40px;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
}
/* /Pages/Admin/Profiles/ProfilesPage.razor.rz.scp.css */
body[b-1uh7jzw6no] {
}
/* /Pages/Comment/CommentPage.razor.rz.scp.css */
.comments[b-umjgj9j7cd] {
    overflow-y: scroll;
    height: 90%;
}
.container[b-umjgj9j7cd]{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100vh;
    padding:20px;
}

.input-row[b-umjgj9j7cd] {
    display: flex;
    justify-content: space-between;
}

input[b-umjgj9j7cd] {
    width: 90%;
    height: 40px;
    align-self: center;
    border-radius:10px;
    padding:10px;
}
/* /Pages/Login/LoginPage.razor.rz.scp.css */
.page[b-ovwlv0ipt7] {
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container[b-ovwlv0ipt7] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2[b-ovwlv0ipt7] {
    margin-bottom: 20px;
    color: #333;
}

.input[b-ovwlv0ipt7] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn[b-ovwlv0ipt7] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-btn:hover[b-ovwlv0ipt7] {
        background-color: #0056b3;
    }
/* /Pages/Projects/ProjectsPage.razor.rz.scp.css */
body[b-ccano2k6pg] {
}
/* /Pages/Register/RegisterPage.razor.rz.scp.css */
.page[b-jx3g2bi2zq] {
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container[b-jx3g2bi2zq] {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2[b-jx3g2bi2zq] {
    margin-bottom: 20px;
    color: #333;
}

.input[b-jx3g2bi2zq] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn[b-jx3g2bi2zq] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-btn:hover[b-jx3g2bi2zq] {
        background-color: #0056b3;
    }
/* /Pages/Requests/RequestsPage.razor.rz.scp.css */
body[b-0mq5klraj6] {
}
