@page "/comments/{TaskId:int}"
@inherits CommentBase

<h3>CommentPage</h3>

@if(CommentsList != null)
{
    @foreach (var comment in CommentsList)
    {
        <CommentComponent Fullname="xxx xxxx" Content="@comment.Content"/>
    }
}